h1 {
  font-size:24px;
  color:#064277;
}
h2 {
  font-size:21px;
  color:#064277 !important;
}
a {
  color:#064277;
}
a:hover {
  text-decoration:underline;
  color:#064277;
}
ul,
ol,
dl {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 1.25em;
  list-style-position: inside;
  font-family: inherit;
}
th {
  background: #cccccc;
}
.font-14 {
  font-size:14px;
}
.panel.radius {
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.blue-bar {
  background:#021323;
  height:35px;
  font-weight: 200;
}
ul.sm-top-menu {
  color: white;
  list-style-type: none;
}
ul.sm-top-menu a {
  color:#ffffff;
  font-size: 13px;
}
ul.sm-top-menu li {
  display:inline;
  margin-right: 1em;
  line-height: 1.9;
}
.follow-share.share-me ul {
  list-style-type:none;
  text-align:right;
}
.follow-share.share-me li {
  display:inline;
  margin-left: 0.5em;
}
.follow-share.share-me li img {
  max-width: 22px;
}
.large-12.header-area {
  min-height: 110px;
  padding-top: 2em;
  background: #ffffff;
}
.search-nav button {
  display:none;
}
input#site-search-top {
  font-size: 20px;
  color: #cccccc;
  border: 0;
  background: #e2e2e2;
}
.top-bar {
  background: #064277;
}
.top-bar-section li a:not(.button) {
 padding: 0 15px;
 line-height: 45px;
 background: #064277;
}
.top-bar-section ul li.active>a {
  padding: 0 15px;
  line-height: 45px;
  background: #064277;
}
.top-bar .toggle-topbar.menu-icon {
  right: 15px;
  top: 50%;
  margin-top: -62px;
  padding-left: 40px;
}
.top-bar .toggle-topbar {
  z-index:1300;
}
.top-bar.expanded .toggle-topbar a span {
  -webkit-box-shadow: 0 10px 0 1px #888, 0 16px 0 1px #888, 0 22px 0 1px #888;
  box-shadow: 0 10px 0 1px #888, 0 16px 0 1px #888, 0 22px 0 1px #888;
  color:#ffffff;
}
.expanded .toggle-topbar.menu-icon {
  right: 15px;
  top: 50%;
  margin-top: -173px;
  padding-left: 40px;
}
ul.smenu {
  list-style-type: none;
  margin-top: -20px;
}
ul.smenu li {
  display: inline;
  margin-right: 7px;
}
.section-container.accordion>section>.title a {
  white-space:pre-line;
}
.smenu .active a {
  color:#cccccc;
}
.main-body {
  background:#f9f9f9;
}
.sidebar {
  background:#e2e2e2;
  margin-top:2em;
  padding:.5em;
}
button.submit,
.sidebar input.submit {
  background: #008000;
  color: white;
  font-size: 17px;
  border: 1px solid #024102;
  padding: .5em 1em;
}
.sidebar input.grey-button {
  background: #cccccc;
  color: black;
  font-size: 17px;
  border: 1px solid #7B827B;
  padding: .5em 1em;
}
p.more-info {
  font-size: 13px;
}
.footer {
  padding-top:1em;
  background: #021323;
  min-height:300px;
  color:#ffffff;
  padding-bottom:1em;
}
.footer a {
  color:#ffffff;
}
.top-footer-area a {
  color:#ffffff;
}
.footer ul,
.footer li {
  list-style-type:none;
}
.footer .menu-header {
  font-weight:bold;
  font-size:19px;
}
.footer .menu-header ul {
  font-weight:normal;
  font-size:15px;
  line-height:1.7;
  margin-top:1em;
}
.bottom-links {
  font-size:12px;
  padding-top: 77px;
  text-align:center;
}
.btm-logo {
  padding-bottom:10px;
}
@media all and (max-width:768px) {
 .bottom-links {
 padding-top:10px;
}
}
@media all and (min-width:768px) {
 .search-button {
 display:none;
}
}
.search-button {
  background-image: url(../images/search-icon.png);
  height: 25px;
  width: 25px;
  background-size: contain;
  background-repeat: no-repeat;
}
#search-button {
  position: absolute;
  top: 10px;
  right: 15px;
}
#search-nav {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1301;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 2em 1em;
  top: 0;
}
#search-nav .block {
  background-color: white;
  padding: 2em 1em;
  margin: 0 auto;
  width: 80%;
  border-radius: 8px;
  border: 3px solid #265e2e;
}
#search-nav inline label {
  width: 100%;
  float: left;
}
#search-nav #edit-search-block-form-1 {
  width: 100%;
  font-size: 1em;
  margin-bottom: 1em;
}
#search-nav #edit-submit {
  background-color: #265e2e;
  color: white;
  font-size: 1.3em;
  width: 100%;
  border-radius: 8px;
  padding: .2em 1em;
}
#search-close {
  margin-top: 1em;
}
.searchbar-close {
  color: #ffffff;
  background-color: #D83C3C;
  text-align: center;
  padding: 1em;
}
input:focus::-webkit-input-placeholder {
color:transparent;
}
input:focus:-moz-placeholder {
color:transparent;
} /* Firefox 18- */
input:focus::-moz-placeholder {
color:transparent;
} /* Firefox 19+ */
input:focus:-ms-input-placeholder {
color:transparent;
} /* oldIE ;) */
.button-group a.small.button.active {
  background: #f2f2f2;
  color: #000000;
}
.button-group .button {
  background:rgba(6, 66, 119, 0.70);
}
li.normal {
  width: 100%;
  float: left;
  list-style-type:none;
}
li.normal h3 {
  width:35%;
  float:left;
  padding:0 10px;
  font-size:18px;
}
.tabitem-content {
  width: 65%;
  float: left;
  padding:0 10px;
}
@media all and (max-width:480px) {
 li.normal h3 {
 width:100%;
 float:left;
 padding:0 10px;
 font-size:18px;
}
.tabitem-content {
 width: 100%;
 float: left;
 padding:0 10px;
}
.button-group.even-4 li {
 float:left;
 width: 50%;
}
}
li.headalt {
    list-style-type: none;
}
li.headalt h3{
    color:#064277;
}